<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Muana Media Technology</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="js/script.js"></script>
  </head>

  <body class="bg-gray-100">
    <!-- Loader -->
    <div class="bg-loader">
      <div class="loader"></div>
    </div>

    <!-- Header -->
    <div class="medsos bg-gradient-to-r from-green-400 to-purple-600 py-4">
      <div class="container flex justify-center">
        <a
          href="https://wa.me/6285841566136"
          class="social-icon mx-2"
          style="color: white"
        >
          <i class="fab fa-whatsapp text-2xl"></i>
        </a>
        <a
          href="https://instagram.com/muana.media/"
          class="social-icon mx-2"
          style="color: white"
        >
          <i class="fab fa-instagram text-2xl"></i>
        </a>
        <a
          href="https://linkedin.com/company/muana-bimbel/"
          class="social-icon mx-2"
          style="color: white"
        >
          <i class="fab fa-linkedin text-2xl"></i>
        </a>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'beranda' %}"><b>MUANA ACADEMY</b></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'beranda' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'service' %}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'articles' %}">Articles</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- TENTANG KAMI -->
    <div class="about-section container py-8">
      <h3 class="text-2xl font-bold mb-4">About Us</h3>
      <p class="text-lg">
        Muana Academy is dedicated to empowering students in the field of
        Information Technology and Education. Our mission is to drive excellence
        and innovation, making Muana Academy a leading institution in the field
        of education and IT. We are committed to not only developing academic
        aspects, but also strong character development, ensuring our students
        succeed in all aspects of life.
      </p>
    </div>

    <!-- VISI -->
    <div class="separator"></div>
    <div class="about-section container py-8">
      <h3 class="text-2xl font-bold mb-4">Vision</h3>
      <p class="text-lg">
        Our vision is to be a trusted technology and education-based tutoring
        institution and to be at the forefront of learning, especially IT and
        Education.
      </p>
    </div>

    <!-- MISI -->
    <div class="separator"></div>
    <div class="about-section container py-8">
      <h3 class="text-2xl font-bold mb-4">Mission</h3>
      <ul class="list-disc ml-6 text-lg">
        <li>
          Providing the best service to students so that parents are satisfied
          with the services provided by Muana.
        </li>
        <li>
          Helping students understand lessons in and out of school, especially
          in the IT and Education world.
        </li>
        <li>
          Establishing good cooperation with parents or guardians of students.
        </li>
      </ul>
    </div>
    <section
      class="footer-content"
      style="
        background-color: #fff;
        color: #000;
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
      "
    >
    <div class="container flex justify-center">
      <div class="footer-item mx-4">
        <h4>
          <a href="{% url 'privacy-policy' %}" style="color: #000; font-size: 12px"
            >Privacy Policy</a
          >
        </h4>
      </div>

      <div class="footer-item mx-4">
        <h4>
          <a href="{% url 'disclaimer' %}" style="color: #000; font-size: 12px"
            >Disclaimer</a
          >
        </h4>
      </div>

      <div class="footer-item mx-4">
        <h4>
          <a href="{% url 'term' %}" style="color: #000; font-size: 12px"
            >Term and Condition</a
          >
        </h4>
      </div>
    </div>
  </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Footer -->
    <footer
      class="text-center py-4 bg-gradient-to-r from-green-400 to-purple-600"
    >
      <div class="container">
        <small class="text-white"
          >&copy; 2023. Muana Media Technology. All Rights Reserved.</small
        >
      </div>
    </footer>

    <script type="text/javascript">
      $(document).ready(function () {
        $(".bg-loader").hide();
      });

      $(document).ready(function () {
        $(".bg-loader").hide();
        var currentLocation = window.location.href;
        var navItems = $(".navbar .nav-item");

        navItems.each(function () {
          var link = $(this).find(".nav-link").attr("href");

          if (currentLocation.indexOf(link) !== -1) {
            $(this).addClass("active");
          }
        });
      });
    </script>
  </body>
</html>
