<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Muana Academy - Our Services</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>

  <body>
    <div class="bg-loader">
      <div class="loader"></div>
    </div>

    <div class="medsos bg-gradient-to-r from-green-400 to-purple-600 py-4">
      <div class="container flex justify-center">
        <a
          href="https://wa.me/6285841566136"
          class="social-icon mx-2"
          style="color: white"
        >
          <i class="fab fa-whatsapp text-2xl"></i>
        </a>
        <a
          href="https://instagram.com/muana.media/"
          class="social-icon mx-2"
          style="color: white"
        >
          <i class="fab fa-instagram text-2xl"></i>
        </a>
        <a
          href="https://linkedin.com/company/muana-bimbel/"
          class="social-icon mx-2"
          style="color: white"
        >
          <i class="fab fa-linkedin text-2xl"></i>
        </a>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'beranda' %}"
          ><b>MUANA ACADEMY</b></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'beranda' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'service' %}">Sevices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'articles' %}">Articles</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <h1 class="text-center mb-4">Sign up</h1>

          <form id="registrationForm">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" class="form-control" required />
            </div>

            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                name="password1"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label>Repeat Password</label>
              <input
                type="password"
                name="password2"
                class="form-control"
                required
              />
            </div>

            <div
              class="alert alert-danger"
              id="errorNotification"
              style="display: none"
            ></div>

            <button type="submit" class="btn btn-success btn-block">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer
      class="text-center py-4 bg-gradient-to-r from-green-400 to-purple-600"
    >
      <div class="container">
        <small class="text-white"
          >&copy; 2023. Muana Media Technology. All Rights Reserved.</small
        >
      </div>
    </footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      document
        .getElementById("registrationForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          var email = document.getElementsByName("email")[0].value;
          var password1 = document.getElementsByName("password1")[0].value;
          var password2 = document.getElementsByName("password2")[0].value;

          if (password1 !== password2) {
            document.getElementById("errorNotification").innerText =
              "The passwords do not match.";
            document.getElementById("errorNotification").style.display =
              "block";
            return;
          }

          axios
            .post("/api/v1/users/", {
              username: email,
              password: password1,
            })
            .then(function (response) {
              alert("Registration successful! Please log in.");
              window.location.href = "/masuk"; // Redirect to login page
            })
            .catch(function (error) {
              if (error.response) {
                document.getElementById("errorNotification").innerText =
                  "Error: " + error.response.data;
              } else {
                document.getElementById("errorNotification").innerText =
                  "Something went wrong. Please try again!";
              }
              document.getElementById("errorNotification").style.display =
                "block";
            });
        });
    </script>
  </body>
</html>
