<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Muana Academy - Our Services</title>
 
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>

  <body>
    <div class="container login-container">
      <h2 class="login-heading mb-4">
        Selamat Datang di Bimbingan Belajar Muana
      </h2>
      <!-- Header -->
      <div class="medsos bg-gradient-to-r from-green-400 to-purple-600 py-4">
        <div class="container flex justify-center">
          <a
            href="https://wa.me/6285841566136"
            class="social-icon mx-2"
            style="color: white"
          >
            <i class="fab fa-whatsapp text-2xl"></i>
          </a>
          <a
            href="https://instagram.com/muana.media/"
            class="social-icon mx-2"
            style="color: white"
          >
            <i class="fab fa-instagram text-2xl"></i>
          </a>
          <a
            href="https://linkedin.com/company/muana-bimbel/"
            class="social-icon mx-2"
            style="color: white"
          >
            <i class="fab fa-linkedin text-2xl"></i>
          </a>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'beranda' %}"
            ><b>MUANA ACADEMY</b></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'beranda' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'service' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'articles' %}">Articles</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}

      <form action="{% url 'index' %}" method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Masuk</button>
        <p>
          Belum punya akun?
          <a href="{% url 'daftar' %}">Daftar sekarang</a>.
        </p>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
          {% if messages %}
          $('.login-container').addClass('was-validated');
          {% endif %}
      });
    </script>
  </body>
</html>
